<launch>
    <arg name="publish_ego_vehicle" default="true"/> 
    <arg name="role_name" default="ego_vehicle"/>

    <node pkg="carla_its_converter" type="CarlaItsConverterNode" name="carla_its_converter" output="screen">
        <param name="publish_ego_vehicle" value="$(arg publish_ego_vehicle)"/>
        <param name="role_name" value="$(arg role_name)"/>
    </node>
</launch>

