<launch>

  <arg name="custom_params" default="false" />  <!-- can be set to a custom parameter yaml file that shall be used to overwrite parameters of this package -->
  <arg name="create_publisher" default="true" />
  <arg name="create_subscriber" default="true" />

  <group ns="/carla_its_interface">
    <node pkg="carla_its_interface" type="CarlaItsInterfaceNode" name="ItsInterfaceNode" output="screen">
      <rosparam command="load" file="$(find carla_its_interface)/launch/params_CarlaItsInterfaceNode.yaml" />  <!-- common parameters from config file -->
      <rosparam if="$(eval custom_params != false)" command="load" file="$(arg custom_params)" />
      <param name="create_publisher" value="$(arg create_publisher)"/>
      <param name="create_subscriber" value="$(arg create_subscriber)"/>
      <remap to="/carla_its_interface/topic_1" from="topic_1"/>  <!-- remaps a global topic to the relative topic of the node -->
    </node>
  </group>

</launch>

